.hover-zoom {
  display: inline-block;
  background: transparent;
  transition: all 0.35s ease;
  &:hover {
    cursor: pointer;
    background: rgb(0, 198, 173);
    transform: scale(1.5);
    // background: linear-gradient(
    //   0deg,
    //   rgba(0, 198, 173, 1) 0%,
    //   rgba(26, 147, 131, 1) 100%
    // );
  }
}

.intersection {
  &__fade {
    opacity: 0;
    transform: scale(0.5);
    transition: 0.5s ease;
    &.active {
      opacity: 1;
      transform: scale(1);
    }
  }

  &__slide {
    &--right {
      transform: translateX(200%);
      transition: all 0.5s ease;
      transition-delay: 0.25s;
      &.active {
        transform: translateX(0px);
      }
    }

    &--left {
      transform: translateX(200%);
      transition: all 0.5s ease;
      transition-delay: 0.25s;
      &.active {
        transform: translateX(0px);
      }
    }
  }
}
