html,
body {
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  display: none;
}

section {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  width: 100%;
}

.navbar {
  &__wrapper {
    position: absolute;
    padding: 0px;
    margin: 0px;
  }
}
// ------- Sections
.welcome-section {
  display: flex;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  background: rgb(85, 123, 158);
  background: radial-gradient(
    circle,
    rgba(85, 123, 158, 1) 0%,
    rgba(36, 141, 158, 1) 0%,
    rgba(25, 107, 115, 1) 64%,
    rgba(4, 45, 39, 1) 100%
  );
}

.about-section {
  display: flex;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  background: rgb(238, 174, 174);
  background: radial-gradient(
    circle,
    rgba(238, 174, 174, 1) 0%,
    rgba(210, 94, 131, 1) 100%
  );
}
.where-section {
  display: flex;
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  background: rgb(85, 123, 158);
  background: radial-gradient(
    circle,
    rgba(85, 123, 158, 1) 0%,
    rgba(36, 141, 158, 1) 0%,
    rgba(25, 107, 115, 1) 64%,
    rgba(4, 45, 39, 1) 100%
  );
}

// -------- Typography
@import './settings/typography.scss';
@import './settings/containers.scss';
@import './settings/animations.scss';
@import './settings/navigation.scss';
